////
/// CSS for "text"
////
@use "variables";
@use "mixins";

// Text alignment
$_textAlignProperties: (
  start: left,
  end: right,
  center: center,
);
@each $property_key, $property_value in $_textAlignProperties {
  .text-#{$property_key} {
    text-align: $property_value !important;
  }

  @each $breakpoint_key, $breakpoint_value in variables.$breakpoints {
    @include mixins.MinWidth($breakpoint_key) {
      .text-#{$breakpoint_key}-#{$property_key} {
        text-align: $property_value !important;
      }
    }
  }
}

// Text transform
$_textTransformProperties: (
  uppercase: uppercase,
  lowercase: lowercase,
  capitalize: capitalize,
);
@each $property_key, $property_value in $_textTransformProperties {
  .text-#{$property_key} {
    text-transform: $property_value !important;
  }
}

// Text decoration
$_textDecorationProperties: none underline line-through;
@each $i in $_textDecorationProperties {
  .text-decoration-#{$i} {
    text-decoration: $i !important;
  }
}

// Font weight
$_fontWeightProperties: 100 200 300 400 500 600 700 800 900;
@each $i in $_fontWeightProperties {
  .fw-#{$i} {
    font-weight: $i !important;
  }
}

// Font style
$_fontStyleProperties: normal italic;
@each $i in $_fontStyleProperties {
  .fst-#{$i} {
    font-style: $i !important;
  }
}
