////
///  CSS for "display", "gap"
////
@use "../variables";
@use "../mixins";
@forward "display-flex";
@forward "display-grid";
@forward "gap";

$_properties: (
  initial: initial,
  none: none,
  inline: inline,
  block: block,
  inline-block: inline-block,
);

@each $property_key, $property_value in $_properties {
  .d-#{$property_key} {
    display: $property_value !important;
  }

  @each $breakpoint_key, $breakpoint_value in variables.$breakpoints {
    @include mixins.MinWidth($breakpoint_key) {
      .d-#{$breakpoint_key}-#{$property_key} {
        display: $property_value !important;
      }
    }
  }
}
